<!-- The chat view -->
<section class="container">
  <!--<div class="page-header">
    <h1>Chat Example</h1>
  </div>-->
  <!-- The message form -->
  <div class="col-xs-12 col-md-4 all-people">
    <h3>Tìm kiếm người và nhóm</h3>
    <input class="form-control" type="text" ng-model="searchField"/>
    <h4>Người dùng online</h4>
    <div class="people online row" ui-sref=".private({id:'{{member._id}}'})" ng-repeat="member in listMemberOnline" ng-if="notMe(member)">
      <img ng-src="{{member.profileImageURL}}" alt="admin" class="pull-left chat-profile-image"/>
      <div class="pull-left name-label chat-message-details">
        <strong>{{member.firstName}}
          {{member.lastName}}</strong>
      </div>
    </div>
    <h4>Tin nhắn trước đây</h4>
    <div class="people history row" ui-sref=".private({id:'{{member._id}}'})" ng-repeat="member in historyMessage" ng-if="notOnline(member)">
      <img ng-src="{{member.profileImageURL}}" alt="admin" class="pull-left chat-profile-image"/>
      <div class="pull-left name-label chat-message-details">
        <strong>{{member.displayName}}
          </strong>
      </div>
    </div>
  </div>
  <div ui-view></div>
</section>
